<div class="profile-container">
  <h1>Perfil de Estudiante</h1>
  <img src="https://i.postimg.cc/nz5gJYtn/FB-IMG-1717737866834.jpg" alt="Foto del estudiante" class="profile-photo" (click)="openModal()">
  <div id="myModal" class="modal" (click)="closeModal()">
    <span class="close" (click)="closeModal()">&times;</span>
    <img class="modal-content" id="img01">
  </div>
  <h2>Nombre</h2>
  <p>________________ Jimmy Eduardo Carrera Castro ________________</p>
  <h2>About Me</h2>
  <p>Soy un estudiante apasionado por la tecnología y la programación. Me encanta aprender y compartir conocimientos.</p>
  <h2>Contacto</h2>
  <p>________________Email: Jimmycarrera202&#64;gmail.com______________</p>
  <h2>Objetivos en los que está trabajando</h2>
  <ul>
    <li>Mejorar mis habilidades en JavaScript y Angular</li>
    <li>Contribuir a proyectos de código abierto</li>
    <li>Desarrollar una aplicación de cero a puesta en produccion</li>
  </ul>
  <h2>Intereses</h2>
  <p>Programación, Inteligencia Artificial, Desarrollo Web, Desarrollo movil </p>
  <h2>Aficiones</h2>
  <p>Leer(cuando me queda tiempo), El baloncesto, El ciclismo, y quiero Subir volcanes(por ahora solo llevo el pacaya y el acatenango)</p>
  <h2>Proyectos</h2>
  <p>He trabajado en 3 proyectos a lo largo de estos  3 cursos de programacion que he llevado en la carrera de Ingenieria En Sistemas.</p>
  <h2>Repositorios de Github</h2>
  <p><a href="https://github.com/olailz/Base-de-datos.git">________________________github.com/olaiz___________________________</a></p>
  <p><a href="https://github.com/olailz/Backend.git">____________________________github.com/olaiz________________________</a></p>
  <p><a href="https://github.com/olailz/Frontend.git">___________________________github.com/olaiz_________________________</a></p>
  <h2>Experiencia</h2>
  <p>Aunque todavía estoy en la universidad, solamente cuento con la experiencia de mis proyectos universitarios, pero me propongo ingresar al departamento de it de mi trabajo este año.</p>
</div>
