.cv-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 180%;
  margin: 0 auto;
  text-align: CENTER;
}


.cv-container h1 {
  color: black;
  text-shadow: 2px 2px 5px orange;
  margin-bottom: 20px;
}

.cv-container h2 {
  color: black;
  text-shadow: 1px 1px 3px orange;
  margin-top: 20px;
}

.cv-container p, .cv-container ul {
  text-align: left;
}

.cv-container ul {
  list-style-type: none;
  padding: 0;
}

.cv-container ul li::before {
  content: "•";
  color: orange;
  margin-right: 8px;
}

.cv-photo {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#img01 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
