<div class="cv-container">
  <h1>Hoja de Vida (CV)</h1>
  <img src="https://i.postimg.cc/nz5gJYtn/FB-IMG-1717737866834.jpg" alt="Foto del CV" class="cv-photo" (click)="openModal()">
  <div id="myModal" class="modal" (click)="closeModal()">
    <span class="close" (click)="closeModal()">&times;</span>
    <img class="modal-content" id="img01">
  </div>
  <p>Jimmy Carrera</p>
  <p>Email: Jimmycarrera202&#64;gmail.com</p>
  <h2>Habilidades Técnicas</h2>
  <ul>
    <li>Tecnologías: Angular, React</li>
    <li>Lenguajes: java, JavaScript, HTML, CSS</li>
  </ul>
  <h2>Responsive</h2>
  <p>Desarrollo de aplicaciones web y móviles responsive.</p>
  <h2>Habilidades Blandas</h2>
  <p>Trabajo en equipo, comunicación efectiva, resolución de problemas.</p>
  <h2>Idiomas</h2>
  <p>Inglés - basico 4</p>
  <h2>Sinceridad</h2>
  <p>Honestidad y transparencia en todas las relaciones laborales.</p>
  <h2>Experiencia</h2>
  <p>Aunque todavía estoy en la universidad, tengo propuesto entrar el departamento de it de mi trabajo este año.</p>
  <h2>Persona Laboralmente Activa</h2>
  <p>Sí</p>
  <h2>Link a CV en PDF</h2>
  <p><a href="https://drive.google.com/file/d/1HQkxu5uIMDqKyEvnnbaAMBBCzAYdY-yP/view?usp=sharing">Descargar CV</a></p>
</div>


